
<h1>Gemfile</h1>

<h2>Dependencies</h2>
<div>
  Provided below is a list of the files defined in the Gemfile and Gemfile.lock.
  All of the dependencies and sub-dependencies are shown here with links to their
  documentation and if it the project is hosted on Github additional links are 
  included to the project, issues, and recent commits.
</div>
<img src="gemfile.png" />

<ul class="dependencies">
<% dependencies.each do |dep| %>
  <li class="dependency">
    <h3>
      <div class="name"><%= h dep.name %></div>
      <div class="version">(<a href="<%= h dep.rubygems_version_url %>"><%= h dep.version %></a>)</div>
    </h3>
    <br/ style="clear:both;">
  </li>
  <li class="details">
    <div class="details">
      <ul style="list-style: none;">
      <li class="documentation"><a href="<%= h dep.documentation_url %>">Documentation</a></li>
      
      <!-- Newer Versions -->
      
      <!-- Github Project -->
      
      <% if dep.project_url and not dep.project_url == "" %>
        <li class="project"><a href="<%= h dep.project_url %>">Project</a></li>
      <% end %>
      
      <!-- Issues -->
      
      <% if dep.issues and not dep.open_bugs.empty? %>
        <h4><%= dep.open_bugs.length %> Open Issue<%= dep.open_bugs.length > 1 ? 's' : '' %></h4>
        <% dep.open_bugs.each do |issue| %>
          <li class="issue"> </li>
            <div class="issue">
              <div style="float:left; padding-top: 12px; padding-left: 10px;">
                <img src="<%= gravatar_image_from_id issue.gravatar_id %>" />
              </div>
              <div style="padding-left: 42px; padding-top: 10px;">
                <a href="<%= h issue.html_url %>"><%= h issue.title %></a>
                <span class="tags">[<%= h issue.labels.join(', ') %>]</span>
                <br/>
                <span class="time"><%= human_friendly_time issue.updated_at %></span>
              </div>
              <br style="clear: both;">
            </div>
        <% end %>
        
      <% end %>
      
      <!-- Commits -->
      
      <% if dep.commits and not dep.commits.empty? %>
        <h4>Recent Commits</h4>
        <% dep.commits[0..4].each do |commit| %>
        <li class="commit"> </li>
        <div class="commit">
        <div style="float:left; padding-top: 12px; padding-left: 10px;">
          <img src="<%= gravatar_image_from_email commit.author.email %>">
        </div>
        <div style=" padding-left: 42px; padding-top: 10px;">
          <a href="http://github.com<%= commit.url %>"><%= h commit.message %></a>
          <br/>
          <span class="time"><%= human_friendly_time commit.committed_date %></span>
        </div>
        <br style="clear:both;"/>
        </div>
        
        <% end %>
      <% end %>
      
    </ul></div>
  </li>
  
<% end %>
</ul>
<br/ style="clear:both;">
