
<h1>Gemfile</h1>

<h2>Dependencies</h2>
<div>
  Provided below is a list of the files defined in the Gemfile and Gemfile.lock.
  All of the dependencies and sub-dependencies are shown here with links to their
  documentation and if it the project is hosted on Github additional links are
  included to the project and issues.
</div>

<ul class="dependencies">
<% dependencies.each do |dep| %>
  <li class="dependency">
    <h3>
      <div class="name"><%= h dep.name %></div>
      <div class="version">(<a href="<%= h dep.rubygems_version_url %>"><%= h dep.version %></a>)</div>
    </h3>

    <br style="clear:both;"/>
    <!-- Dependencies -->

  </li>
  <li class="details">
    <div class="details">
      <ul class="links">

        <!-- Rubydoc -->

        <li class="documentation"><a href="<%= h dep.yardoc_url %>">Rubydoc</a></li>

        <!-- Documentation -->

        <% if dep.documentation_url %>
          <li class="documentation">&nbsp;|&nbsp;<a href="<%= h dep.documentation_url %>">Documentation</a></li>
        <% end %>

        <!-- Homepage -->

        <% if dep.homepage_url %>
          <li class="homepage">&nbsp;|&nbsp;<a href="<%= h dep.homepage_url %>">Homepage</a></li>
        <% end %>

        <!-- Project -->

        <% if dep.source_code_url %>
          <li class="source-code">&nbsp;|&nbsp;<a href="<%= h dep.source_code_url %>">Source Code</a></li>
        <% end %>

        <!-- Bug Tracker -->

        <% if dep.bug_tracker_url %>
          <li class="bug-tracker">&nbsp;|&nbsp;<a href="<%= h dep.bug_tracker_url %>">Bug Tracker</a></li>
        <% end %>

        <!-- Mailing List -->

        <% if dep.mailing_list_url %>
          <li class="mailing-list">&nbsp;|&nbsp;<a href="<%= h dep.mailing_list_url %>">Mailing List</a></li>
        <% end %>

        <!-- Wiki -->

        <% if dep.wiki_url %>
          <li class="wiki">&nbsp;|&nbsp;<a href="<%= h dep.wiki_url %>">Wiki</a></li>
        <% end %>

      </ul>

      <!-- More Details -->

      <ul>
        <br style="clear:both;"/>
      <!-- Newer Versions -->

      <% if dep.newer_versions.length == 0 %>
        This is the latest released version.
      <% elsif dep.newer_versions.length == 1 %>
        [!] There is 1 newer release.
        (<%= dep.versions.first.number %>)
        <!-- Release Date -->
        <!-- Link all the versions that are displayed. -->
        <!-- Hide all the version information until the user clicks on the 'There is 1 newer release' -->
      <% else %>
        [!] There are <%= dep.newer_versions.length %> newer releases.
        (<%= dep.newer_versions.map {|version| version.number }.join(", ") %>)
        <!-- Release Date -->
        <!-- Link all the versions that are displayed. -->
        <!-- Hide all the version information until the user clicks on the 'There is 1 newer release' -->
      <% end %>

      <!-- Collapsed Version: Show the number of open issues -->
      <!-- Issues when expanded -->

      <% if dep.issues and not dep.open_bugs.empty? %>
        <h4><%= dep.open_bugs.length %> Open Issue<%= dep.open_bugs.length > 1 ? 's' : '' %></h4>
        <% dep.open_bugs.each do |issue| %>
          <li class="issue"> </li>
            <div class="issue">
              <div style="float:left; padding-top: 12px; padding-left: 10px;">
                <img src="<%= gravatar_image_from_id issue.gravatar_id %>" />
              </div>
              <div style="padding-left: 42px; padding-top: 10px;">
                <a href="<%= h issue.html_url %>"><%= h issue.title %></a>
                <span class="tags">[<%= h issue.labels.join(', ') %>]</span>
                <br/>
                <span class="time"><%= human_friendly_time issue.updated_at %></span>
              </div>
              <br style="clear: both;">
            </div>
        <% end %>

      <% end %>

    </ul></div>
  </li>

<% end %>
</ul>
<br/ style="clear:both;">
